$application-body-padding-top: 45px;
$application-body-background: blue;
$font-family-sans-serif: "Open Sans", "Calibri", Helvetica, Arial, sans-serif;

$app-table-border-color: #ccc;
$app-table-border-background: #e4e4e4;
